include *.md LICENSE

exclude .flake8 noxfile.py .coveragerc
prune tests
prune test_data

graft src/scarchesh5ad2refbyscanvi/python
graft src/scarches2predictbyscanvi/python

global-include dep.yaml

global-exclude *.py[cod]

prune **/__pycache__
prune **/main
prune **/data
